<html>

<head>
    <title>LinkedUD</title>
    <meta charset="UTF-8">
    <meta name="author" content="Juan Diego Hernandez - Santiago Garcia Galeano">
    <meta name="description" content="This is a website for a project to find job offers" <meta name="keywords"
        content="Job, Offers, UD, Employes">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <link rel="stylesheet" href="Style.css">
</head>
    <body>
        <<body>
            <header>
                <a href="#" class="logo">
                    <img src="Logo.png" alt="Logo de la compañia">
                    <h2 class="nombre-empresa">LinkedUD</h2>
                    </div>
                    <nav>
                        <a href="Employes.html" class="nav-link">Employes</a>
                        <a href="Notifications.html" class="nav-link">Notifications</a>
                        <a href="Profile.html" class="nav-link">Profile</a>
                        <a href="Login.html" class="nav-link">Sign out</a>
                    </nav>
            </header>
        <main>
            <div>
                <p>This is a project for web development class.</p>
            </div>
            <div>
                <h3>Employes</h3>
                <table>
                    <tr>
                        <th>Employe Name</th>
                        <th>Description</th>
                        <th>Vacancies</th>
                    </tr>
                    <tr>
                        <td>Santiago Garcia</td>
                        <td>He is a very skilfull worker, focuses on backend</td>
                        <td>$<i>5</i>,oo <b></b></td>
                    </tr>
                    <tr>
                        <td>Juan Hernandez</td>
                        <td>He is a great programmer on python and MySQL</td>
                        <td>4</td>
                    </tr>
                </table>
            </div>
        </main>
        <footer>
            <p>&copy; LinkedUD</p>
        </footer>  
    </body>
</html>
