<html>
    <head>
        <title>Log in</title>
        <meta charset="UTF-8">
        <meta name="author" content="Juan Hernandez">
        <meta name="description" content="This is a website for my project">
        <meta name="keywords" content="Job, application, ud">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="Style.css">
    </head>
    <body class="Body_Login">
        <div class="wrapper">
            <form action="">
                <h1>Login</h1>
                <div class="input-box">
                    <input type="text" placeholder="Username"
                    required>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password"
                    required>
                </div>
                <button type="submit" class="btn">Login</button>

                <div class="register-link">
                    <p>Don´t have an account? <a href="#">Register</a></p>
                </div>
            </form>
        </div>
    </body>


</html>