<html>

<head>
    <title>LinkedUD</title>
    <meta charset="UTF-8">
    <meta name="author" content="Juan Diego Hernandez - Santiago Garcia Galeano">
    <meta name="description" content="This is a website for a project to find job offers" <meta name="keywords"
        content="Job, Offers, UD, Employes">
    <meta name="viewport" content="width = device-width, initial-scale=1">
    <link rel="stylesheet" href="Style.css">
</head>
<body>
    
    <div class="container">
        <form action="" class="formulario">
            <h2 class="titulo">REGISTRAR</h2>
            <div class="padre">
                <div class="nombre">
                    <label for="">Carrera</label>
                    <input type="text">
                </div>
                <div class="correo">
                    <label for="">Descripción</label>
                    <input type="email">
                </div>
                <div class="usuario">
                    <label for="">Habilidades</label>
                    <input type="text">
                </div>
                <div class="clave">
                    <label for="">Edad</label>
                    <input type="password">
                </div>
                <div class="cuenta">
                    <p>Ya tienes una cuenta? <a href="#">Entra aquí!</a></p>
                    <input class="boton" type="button" value="Registrar">
                </div>
            </div>
        </form>
    </div>
</body>
</html>
